<div class="container" style="width: 60%;">
  <h1 class="m-3" style="text-align:center;">新增餐廳</h1>
  <form>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">餐廳名稱</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" />
      </div>
    </div>
    <div class="row mb-3">
      <label
        for="inputPassword3"
        class="col-sm-2 col-form-label"
      >餐廳英文名稱</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" />
      </div>
    </div>
    <div class="row mb-3">
      <label for="exampleDataList" class="col-sm-2 col-form-label">餐廳類型</label>
      <div class="col-sm-10 mb-3">
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
        <datalist id="datalistOptions">
          <option value="San Francisco">
          <option value="New York"> 
          <option value="Seattle">
          <option value="Los Angeles">
          <option value="Chicago">
       </datalist>
      </div>
      <div class="row mb-3">
      <label
        for="image"
        class="col-sm-2 col-form-label"
      >餐廳圖片(URL)</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="image" />
      </div>
    </div>
    <div class="row mb-3">
      <label
        for="location"
        class="col-sm-2 col-form-label"
      >餐廳地址</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="location" />
      </div>
    </div>
    <div class="row mb-3">
      <label
        for="phone"
        class="col-sm-2 col-form-label"
      >電話</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="phone" />
      </div>
    </div>
    <div class="row mb-3">
      <label
        for="google-map"
        class="col-sm-2 col-form-label"
      >Google地圖連結</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="google-map" />
      </div>
    </div>
    <div class="row mb-3">
      <label
        for="rating"
        class="col-sm-2 col-form-label"
      >店家評分</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="rating" />
      </div>
    </div>
        <div class="row mb-3">
      <label
        for="description"
        class="col-sm-2 col-form-label"
      >餐廳描述</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="description" rows="3"></textarea>
      </div>
    </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>